/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/

.page-specs .image-iphone6-techspecs { background-image:url("https://images.apple.com/in/iphone-6s/specs/images/iphone6_techspecs_small.jpg"); background-size:100px 175px; width:100px; height:175px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .page-specs .image-iphone6-techspecs { background-image:url("https://images.apple.com/in/iphone-6s/specs/images/iphone6_techspecs_small_2x.jpg"); }
}
@media only screen and (min-width: 736px) {
  .page-specs .image-iphone6-techspecs { background-image:url("https://images.apple.com/in/iphone-6s/specs/images/iphone6_techspecs_medium.jpg"); background-size:100px 175px; width:100px; height:175px; }
}
@media only screen and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 736px) and (min-resolution: 144dpi), only screen and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 144), only screen and (min-width: 736px) and (min-resolution: 144dppx) {
  .page-specs .image-iphone6-techspecs { background-image:url("https://images.apple.com/in/iphone-6s/specs/images/iphone6_techspecs_medium_2x.jpg"); }
}
@media only screen and (min-width: 1069px) {
  .page-specs .image-iphone6-techspecs { background-image:url("https://images.apple.com/in/iphone-6s/specs/images/iphone6_techspecs_large.jpg"); background-size:128px 225px; width:128px; height:225px; }
}
@media only screen and (min-width: 1069px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-resolution: 144dpi), only screen and (min-width: 1069px) and (-webkit-min-device-pixel-ratio: 144), only screen and (min-width: 1069px) and (min-resolution: 144dppx) {
  .page-specs .image-iphone6-techspecs { background-image:url("https://images.apple.com/in/iphone-6s/specs/images/iphone6_techspecs_large_2x.jpg"); }
}

.page-specs .main .section-learn-more-footer .column-iphone-x .learn-more-picture {
    background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneX_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:1.5dppx), (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-x .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneX_large_2x.jpg")
    }
}
@media only screen and (max-width:1068px) {
    .page-specs .main .section-learn-more-footer .column-iphone-x .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneX_medium.jpg")
    }
}
@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:1068px) and (min-resolution:1.5dppx), only screen and (max-width:1068px) and (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-x .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneX_medium_2x.jpg")
    }
}
@media only screen and (max-width:735px) {
    .page-specs .main .section-learn-more-footer .column-iphone-x .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneX_small.jpg")
    }
}
@media only screen and (max-width:735px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:735px) and (min-resolution:1.5dppx), only screen and (max-width:735px) and (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-x .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneX_small_2x.jpg")
    }
}


.page-specs .main .section-learn-more-footer .column-iphone-8 .learn-more-picture {
    background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone8_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:1.5dppx), (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-8 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone8_large_2x.jpg")
    }
}
@media only screen and (max-width:1068px) {
    .page-specs .main .section-learn-more-footer .column-iphone-8 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone8_medium.jpg")
    }
}
@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:1068px) and (min-resolution:1.5dppx), only screen and (max-width:1068px) and (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-8 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone8_medium_2x.jpg")
    }
}
@media only screen and (max-width:735px) {
    .page-specs .main .section-learn-more-footer .column-iphone-8 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone8_small.jpg")
    }
}
@media only screen and (max-width:735px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:735px) and (min-resolution:1.5dppx), only screen and (max-width:735px) and (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-8 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone8_small_2x.jpg")
    }
}



.page-specs .main .section-learn-more-footer .column-iphone-7 .learn-more-picture {
    background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone7_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:1.5dppx), (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-7 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone7_large_2x.jpg")
    }
}
@media only screen and (max-width:1068px) {
    .page-specs .main .section-learn-more-footer .column-iphone-7 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone7_medium.jpg")
    }
}
@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:1068px) and (min-resolution:1.5dppx), only screen and (max-width:1068px) and (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-7 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone7_medium_2x.jpg")
    }
}
@media only screen and (max-width:735px) {
    .page-specs .main .section-learn-more-footer .column-iphone-7 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone7_small.jpg")
    }
}
@media only screen and (max-width:735px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:735px) and (min-resolution:1.5dppx), only screen and (max-width:735px) and (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-7 .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphone7_small_2x.jpg")
    }
}


.page-specs .main .section-learn-more-footer .column-iphone-se .learn-more-picture {
    background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneSE_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:1.5dppx), (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-se .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneSE_large_2x.jpg")
    }
}
@media only screen and (max-width:1068px) {
    .page-specs .main .section-learn-more-footer .column-iphone-se .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneSE_medium.jpg")
    }
}
@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:1068px) and (min-resolution:1.5dppx), only screen and (max-width:1068px) and (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-se .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneSE_medium_2x.jpg")
    }
}
@media only screen and (max-width:735px) {
    .page-specs .main .section-learn-more-footer .column-iphone-se .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneSE_small.jpg")
    }
}
@media only screen and (max-width:735px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:735px) and (min-resolution:1.5dppx), only screen and (max-width:735px) and (min-resolution:144dpi) {
    .page-specs .main .section-learn-more-footer .column-iphone-se .learn-more-picture {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/learn_more_iphoneSE_small_2x.jpg")
    }
}

.page-specs .main .section-apps .techspecs-app-icon-videos, .page-specs .main .section-freeapps .techspecs-app-icon-videos {
    background-image: url("https://images.apple.com/in/iphone-6s/specs/images/icon_videos_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-specs .main .section-apps .techspecs-app-icon-videos, .page-specs .main .section-freeapps .techspecs-app-icon-videos {
        background-image: url("https://images.apple.com/in/iphone-6s/specs/images/icon_videos_large_2x.jpg")
    }
}

/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/ 




/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/

/*.capacity {
    display: inline-block;
    width: 28%;
    font-weight: 600;
}

.section-capacity table {
    width: 100%;
}
*/
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (Orientation: landscape) {
	.page-specs .section-weight-and-dimensions .diagram-text.diagram-text-5 { top: -26px; left: 210px }
}


br.breakline-small-only{
	display:block;
}

@media only screen and (min-width: 321px) {
br.breakline-small-only{
	display:none;
}

}

@media only screen and (max-width: 580px) {
    .price {
    	display:block;
    }
}

.page-specs .main .section-dimensions .image-dimensions-iphone6plus .diagram-text-1 {
    bottom: 210px;
}

@media only screen and (max-width: 1068px) {
  .page-specs .main .section-dimensions .image-dimensions-iphone6plus .diagram-text-1 {
      bottom: 160px;
  }
}

@media only screen and (max-width: 735px) {
  .page-specs .main .section-dimensions .image-dimensions-iphone6plus .diagram-text-1 {
      bottom: 160px;
  }
}

@media only screen and (max-width: 1068px) {
  .page-specs .main .section-dimensions .image-dimensions-iphone6 .diagram-text-1 {
      bottom: 160px;
  }
}

@media only screen and (max-width: 735px) {
  .page-specs .main .section-dimensions .image-dimensions-iphone6 .diagram-text-1 {
      bottom: 135px;
  }
}
/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/ 



.capacity {
    display: inline-block;
    width: 28%;
    font-weight: 600;
}

.section-capacity table {
    width: 100%;
}